* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  border: 1px solid tomato;
}

.container-fluid {
  border: 1px solid red;
}

.row {
  border: 1px solid skyblue;
}




/* 
.badge-primary {
  background-color: #2b7097 !important;
}

.badge-warning {
  background-color: #cf2634 !important;
} 
*/
